#header {
  border-radius: 5px 5px 0px 0px;
  padding: 2px 10px;
  margin: 5px 5px 0px;
  color: white;
  text-shadow: 1px 1px 2px black;
  background: rgb(15,108,195);
  background: -moz-linear-gradient(0deg, rgba(15,108,195,1) 3%, rgba(15,135,246,1) 7%, rgba(11,99,181,1) 64%, rgba(59,119,188,1) 95%, rgba(165,212,255,1) 97%, rgba(15,135,246,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(15,108,195,1) 3%, rgba(15,135,246,1) 7%, rgba(11,99,181,1) 64%, rgba(59,119,188,1) 95%, rgba(165,212,255,1) 97%, rgba(15,135,246,1) 100%);
  background: linear-gradient(0deg, rgba(15,108,195,1) 3%, rgba(15,135,246,1) 7%, rgba(11,99,181,1) 64%, rgba(59,119,188,1) 95%, rgba(165,212,255,1) 97%, rgba(15,135,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f6cc3",endColorstr="#0f87f6",GradientType=1);
  border: 1px solid black;
  border-bottom: none;
  box-shadow: 4px 8px 6px black;
  text-shadow: 0.5px 0.5px 1px black;
}

.navUnderline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#main {
  background-color: rgb(240,235,215);
  border: 5px solid #0f6cc3;
  border-top: 0px;
  border-radius: 0px 0px 1px 1px;
  box-shadow: 5px 5px 5px black;
}

#containerPadding {
  margin: 0px 5px;
  border: 1px solid black;
  border-top: none;
}

.selectNone {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-toggle::after {
  display:none;
}

.optionButton {
  transition: none;
  background-color:rgb(240,235,215);
  font-size: 16px;
  color: black !important;
  font-family: Verdana, Georgia, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  padding: 4px 12px;
  box-shadow: none !important;
}
.optionButton:hover {
  background-color: hsl(48, 45%, 97%);
}
.optionButton:focus {
  background-color: hsl(48, 45%, 80%) !important;
}
.show>.optionButton {
  background-color: hsl(48, 45%, 80%) !important;
}

.headerButton {
  display: inline;
  cursor: pointer;
}
.headerButtonInner {
  border: 1px solid white;
  width: 30px;
  height: 28px;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  float: right;
  margin: 0px 2px;
}
.exitButton {
  background: rgb(255,148,127);
  background: -moz-linear-gradient(135deg, rgba(255,148,127,1) 12%, rgba(222,73,43,1) 24%, rgba(196,64,38,1) 70%, rgba(226,74,43,1) 97%, rgba(150,49,28,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(255,148,127,1) 12%, rgba(222,73,43,1) 24%, rgba(196,64,38,1) 70%, rgba(226,74,43,1) 97%, rgba(150,49,28,1) 100%);
  background: linear-gradient(135deg, rgba(255,148,127,1) 12%,
   rgba(222,73,43,1) 24%, rgba(196,64,38,1) 70%, rgba(226,74,43,1) 97%,
    rgba(150,49,28,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff947f",endColorstr="#96311c",GradientType=1);
}

.exitButton:active {
  background: rgb(255,108,80);
  background: -moz-linear-gradient(315deg, rgba(255,108,80,1) 12%, rgba(222,73,43,1) 24%, rgba(196,64,38,1) 70%, rgba(226,74,43,1) 97%, rgba(150,49,28,1) 100%);
  background: -webkit-linear-gradient(315deg, rgba(255,108,80,1) 12%, rgba(222,73,43,1) 24%, rgba(196,64,38,1) 70%, rgba(226,74,43,1) 97%, rgba(150,49,28,1) 100%);
  background: linear-gradient(315deg, rgba(255,108,80,1) 12%, rgba(222,73,43,1) 24%, rgba(196,64,38,1) 70%, rgba(226,74,43,1) 97%, rgba(150,49,28,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6c50",endColorstr="#96311c",GradientType=1);
}

.helpButton {
  background: rgb(20,136,245);
  background: -moz-linear-gradient(135deg, rgba(20,136,245,1) 12%, rgba(15,108,195,1) 24%, rgba(12,76,136,1) 70%, rgba(15,108,195,1) 97%, rgba(11,65,116,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(20,136,245,1) 12%, rgba(15,108,195,1) 24%, rgba(12,76,136,1) 70%, rgba(15,108,195,1) 97%, rgba(11,65,116,1) 100%);
  
  background: linear-gradient(135deg, rgba(20,136,245,1) 12%, rgba(15,108,195,1) 24%, rgba(12,76,136,1) 70%, rgba(15,108,195,1) 97%, rgba(11,65,116,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1488f5",endColorstr="#0b4174",GradientType=1);
}

.helpButton:active {
  background: rgb(20,187,245);
  background: -moz-linear-gradient(315deg, rgba(20,187,245,1) 12%, rgba(15,108,195,1) 24%, rgba(12,76,136,1) 70%, rgba(15,108,195,1) 97%, rgba(11,65,116,1) 100%);
  background: -webkit-linear-gradient(315deg, rgba(20,187,245,1) 12%, rgba(15,108,195,1) 24%, rgba(12,76,136,1) 70%, rgba(15,108,195,1) 97%, rgba(11,65,116,1) 100%);
  background: linear-gradient(315deg, rgba(20,187,245,1) 12%, rgba(15,108,195,1) 24%, rgba(12,76,136,1) 70%, rgba(15,108,195,1) 97%, rgba(11,65,116,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14bbf5",endColorstr="#0b4174",GradientType=1);
}

.dropdownMenuList {
  background-color: hsl(48, 45%, 95%);
  margin: 0;
  margin-top: -1px;
  padding: 0;
  border-radius: 0;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.dropdownMenuListItem:hover {
  color: white;
  background-color: rgb(20,136,245);
}

.middleInner {
  background-color: white;
  margin: 15px 0px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
  overflow-y: scroll;
}

.rightInner {
  height: 300px;
  overflow-x: scroll;
}
.leftInner {
  height: 630px;
}


td, th {
  font-weight: normal;
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table {
  width: 100%;
}

.displayNone {
  display: none;
}

#blueScreenContainer {
  width: 588px;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: wait;
}

#blueScreen {
  position: relative;
  right: 294px;
  bottom: 147px;
  z-index: 10000;
  height: 209px;
}

#backingBlue {
  position: absolute;
  z-index: 9999;
  background-color: rgb(0,0,176);
  width: 100%;
  height: 100%;
  cursor: wait;
}